h4 {
    text-align: center;
}
section {
    text-align: center;
}
li {
    list-style-type: none;
}
.yak-layout {
    border: 1px solid lightgray;
    background-color: gray;
}
div {
    text-align: center;
}
